/*------------ * F L E X   G R I D * ------------*/

.grid-frame {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
}

.grid-block {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  height: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.grid-content .grid-block {
  margin-left: -1rem;
  margin-right: -1rem;
}

.grid-content {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1;
}
  .grid-content.collapse {
    padding: 0;
  }

.grid-container {
  max-width: 56.25rem;
  margin: 0 auto;
}


/*------------ * T Y P O G R A P H Y * ------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, footer, header, hgroup, 
menu, nav, section, summary {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  margin: 0.25em 0 0.25em;
  font-size: 2.4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

h2 {
  margin: 0.25em 0 0.5em;
  font-size: 1.2rem;
}

/*------------ * I N T E R F A C E * ------------*/

body {
  background-color: $color-body;
  color: $color-white;
}

/*------------ * S T Y L E S * ------------*/

.title-bar {
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  background-color: lighten($color-body, 5%);
  font-size: 14px;
}

.ranking {
  position: relative;
  height: 1720px;
}

.ranking-item {
  display: flex;
  position: absolute;
  width: 100%;
  flex-flow: row wrap;
  align-items: stretch;
  margin-top: 0px;
  margin-bottom: 8px;
  background-color: rgba($color-white, 0.9);
  box-shadow: $shadow-rank-item;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, top 0.75s ease;

  // &:first-child { margin-top: 1rem; }
  // &:last-child { margin-bottom: 2rem; }
  &:hover {
    background-color: rgba($color-white, 1);
    transition: background-color 0.1s ease-in-out, top 0.75s ease;
  }

  &.selected {
    background-color: rgba($color-highlight, 1);
    transition: background-color 0.1s ease-in-out, top 0.75s ease;

    .ranking-item--label {
      color: $color-white;
    }

    .ranking-item--chart .bar {
      background-color: $color-white;
      color: $color-highlight;
    }
  }
}

.ranking-item--label {
  flex-grow: 1;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  max-width: 120px;
  border-right: 1px solid rgba(0,0,0,0.1);
  color: $color-body;

  .flag, .title {
    display: inline;
    vertical-align: middle;
  }

  .flag {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }

  .title {
    font-weight: 900;
    letter-spacing: 0.1em;
  }
}

.ranking-item--chart {
  flex-grow: 1;
  position: relative;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;

  .bar, .marker {
    position: absolute;
  }

  .bar {
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: $color-chart;
    box-shadow: $shadow-chart;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    transition: left 0.75s ease, width 0.75s ease;
  }

  .marker {
    top: 0px;
    bottom: 0px; 
    height: 100%;
    width: 0px;
    border-left-style: solid;
    border-left-color: $color-marker;
    border-left-width: 1px;

    &.negative  { left: 25%; }
    &.zero      { left: 50%; }
    &.positive  { left: 75%; }
  }
}

.year-control {
  display: flex;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: $color-white;
  box-shadow: $shadow-rank-item;
  border-radius: 4px;
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;

  &:hover{ opacity: 1; }

  .left-arrow, .right-arrow, .year-indicator {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba($color-body, 0.4);
    border: 1px solid rgba($color-white, 0.6);
    text-align: center;
  }

  .left-arrow, .right-arrow {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: rgba($color-body, 0.8);
    }
  }

  .left-arrow {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .right-arrow {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .year-indicator {
    margin: 0 -1px;
    min-width: 60px;
    text-shadow: $shadow-chart;
  }
}

.info-panel {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: $color-white;
  color: $color-body;
}

.info-header {
  display: flex;
  height: 400px;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: -2rem;
  margin-right: -2rem;
  margin-left: -2rem;
  margin-bottom: 2rem;
}

.info-header--hero {
  position: relative;
  padding: 30px;
  flex-basis: 60%;
  height: 340px;
  background-size: cover;
}

.hero-overlay {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px; 
  
  .metro {
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: $color-white;
    text-shadow: $shadow-rank-item;
  }
}

.info-header--map {
  flex-basis: 40%;
  height: 340px;
}

.info-header--location {
  flex-basis: 100%;
  height: 60px;
  background-color: $color-light;
  padding: 1.5rem 2rem;

  .location {
    color: $color-medium;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

#map-frame {
  height: 340px;
}

.info-body {
  display: flex;
  height: 360px;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

}

.info-title {
  font-weight: 500;
}

.svg-chart {
  .axis path {
    fill: none;
    stroke: $color-medium;
    stroke-width: 1.5px;
    shape-rendering: auto;
  }

  .axis line {
    fill: none;
    stroke: $color-light;
    stroke-width: 1px;
    shape-rendering: auto;
  }

  .trendline {
    fill: none;
    stroke: $color-highlight;
    stroke-width: 4px;
    shape-rendering: auto;

  }
}



