/*------------ * A P P  G R I D * ------------*/

// This app grid is an adaptation of Zurb's Foundation Webapp framework. Some dependencies may not function properly.
// See Foundation for Apps here: http://foundation.zurb.com/apps.html

.grid-frame, .grid-block, .small-grid-block, .medium-grid-block, .large-grid-block {
  backface-visibility: hidden; }
  .vertical.grid-frame, .vertical.grid-block, .vertical.small-grid-block, .vertical.medium-grid-block, .vertical.large-grid-block {
    flex-flow: column nowrap;
    align-items: stretch; }
  .small-vertical.grid-frame, .small-vertical.grid-block, .small-vertical.small-grid-block, .small-vertical.medium-grid-block, .small-vertical.large-grid-block {
    flex-flow: column nowrap;
    align-items: stretch; }
  .small-horizontal.grid-frame, .small-horizontal.grid-block, .small-horizontal.small-grid-block, .small-horizontal.medium-grid-block, .small-horizontal.large-grid-block {
    flex-flow: row wrap; }
  @media only screen and (min-width: 40em) {
    .medium-vertical.grid-frame, .medium-vertical.grid-block, .medium-vertical.small-grid-block, .medium-vertical.medium-grid-block, .medium-vertical.large-grid-block {
      flex-flow: column nowrap;
      align-items: stretch; }
    .medium-horizontal.grid-frame, .medium-horizontal.grid-block, .medium-horizontal.small-grid-block, .medium-horizontal.medium-grid-block, .medium-horizontal.large-grid-block {
      flex-flow: row wrap; } }
  @media only screen and (min-width: 75em) {
    .large-vertical.grid-frame, .large-vertical.grid-block, .large-vertical.small-grid-block, .large-vertical.medium-grid-block, .large-vertical.large-grid-block {
      flex-flow: column nowrap;
      align-items: stretch; }
    .large-horizontal.grid-frame, .large-horizontal.grid-block, .large-horizontal.small-grid-block, .large-horizontal.medium-grid-block, .large-horizontal.large-grid-block {
      flex-flow: row wrap; } }
  .align-right.grid-frame, .align-right.grid-block, .align-right.small-grid-block, .align-right.medium-grid-block, .align-right.large-grid-block {
    justify-content: flex-end; }
  .align-center.grid-frame, .align-center.grid-block, .align-center.small-grid-block, .align-center.medium-grid-block, .align-center.large-grid-block {
    justify-content: center; }
  .align-justify.grid-frame, .align-justify.grid-block, .align-justify.small-grid-block, .align-justify.medium-grid-block, .align-justify.large-grid-block {
    justify-content: space-between; }
  .align-spaced.grid-frame, .align-spaced.grid-block, .align-spaced.small-grid-block, .align-spaced.medium-grid-block, .align-spaced.large-grid-block {
    justify-content: space-around; }
  .wrap.grid-frame, .wrap.grid-block, .wrap.small-grid-block, .wrap.medium-grid-block, .wrap.large-grid-block {
    flex-wrap: wrap;
    align-items: flex-start; }

/*
  Shared styles for blocks and content blocks (child elements)
*/
.shrink.grid-block, .shrink.grid-content, .shrink.small-grid-block, .shrink.small-grid-content, .shrink.medium-grid-block, .shrink.medium-grid-content, .shrink.large-grid-block, .shrink.large-grid-content {
  flex: 0 0 auto; }

/*
  The core grid elements:
   - Frame
   - Block
   - Content block
   - Container
*/
.grid-frame {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0; }

.grid-block {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  height: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .grid-content .grid-block {
    margin-left: -1rem;
    margin-right: -1rem; }

.grid-content {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1; }
  .grid-content.collapse {
    padding: 0; }

.grid-container {
  max-width: 56.25rem;
  margin: 0 auto; }
  .grid-container.contain-left {
    max-width: 56.25rem;
    margin: 0 auto 0 0; }
  .grid-container.contain-right {
    max-width: 56.25rem;
    margin: 0 0 0 auto; }

/*
  Breakpoint classes for blocks
*/
.small-grid-block {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  height: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .small-grid-block.panel {
    transform: none;
    position: relative;
    width: auto;
    height: auto;
    z-index: auto;
    box-shadow: none;
    background: transparent;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }

.small-grid-content {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1; }
  .small-grid-content.panel {
    transform: none;
    position: relative;
    width: auto;
    height: auto;
    z-index: auto;
    box-shadow: none;
    background: transparent;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }

@media only screen and (min-width: 40em) {
  .medium-grid-block {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    flex: 1 1;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    order: 0;
    height: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .medium-grid-block.panel {
      transform: none;
      position: relative;
      width: auto;
      height: auto;
      z-index: auto;
      box-shadow: none;
      background: transparent;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto; } }

@media only screen and (min-width: 40em) {
  .medium-grid-content {
    display: block;
    padding: 0 1rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    flex: 1 1; }
    .medium-grid-content.panel {
      transform: none;
      position: relative;
      width: auto;
      height: auto;
      z-index: auto;
      box-shadow: none;
      background: transparent;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto; } }

@media only screen and (min-width: 75em) {
  .large-grid-block {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    flex: 1 1;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    order: 0;
    height: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .large-grid-block.panel {
      transform: none;
      position: relative;
      width: auto;
      height: auto;
      z-index: auto;
      box-shadow: none;
      background: transparent;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto; } }

@media only screen and (min-width: 75em) {
  .large-grid-content {
    display: block;
    padding: 0 1rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    flex: 1 1; }
    .large-grid-content.panel {
      transform: none;
      position: relative;
      width: auto;
      height: auto;
      z-index: auto;
      box-shadow: none;
      background: transparent;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto; } }

/*
  Sizing and ordering classes
*/
.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.small-1 {
  flex: 0 0 8.33333%; }

.small-order-1 {
  order: 1; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-up-1 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-1 > li, .small-up-1 > div, .small-up-1 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 100%; }

.small-2 {
  flex: 0 0 16.66667%; }

.small-order-2 {
  order: 2; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-up-2 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-2 > li, .small-up-2 > div, .small-up-2 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 50%; }

.small-3 {
  flex: 0 0 25%; }

.small-order-3 {
  order: 3; }

.small-offset-3 {
  margin-left: 25%; }

.small-up-3 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-3 > li, .small-up-3 > div, .small-up-3 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 33.33333%; }

.small-4 {
  flex: 0 0 33.33333%; }

.small-order-4 {
  order: 4; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-up-4 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-4 > li, .small-up-4 > div, .small-up-4 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 25%; }

.small-5 {
  flex: 0 0 41.66667%; }

.small-order-5 {
  order: 5; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-up-5 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-5 > li, .small-up-5 > div, .small-up-5 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 20%; }

.small-6 {
  flex: 0 0 50%; }

.small-order-6 {
  order: 6; }

.small-offset-6 {
  margin-left: 50%; }

.small-up-6 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-6 > li, .small-up-6 > div, .small-up-6 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 16.66667%; }

.small-7 {
  flex: 0 0 58.33333%; }

.small-order-7 {
  order: 7; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-up-7 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-7 > li, .small-up-7 > div, .small-up-7 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 14.28571%; }

.small-8 {
  flex: 0 0 66.66667%; }

.small-order-8 {
  order: 8; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-up-8 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-8 > li, .small-up-8 > div, .small-up-8 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 12.5%; }

.small-9 {
  flex: 0 0 75%; }

.small-order-9 {
  order: 9; }

.small-offset-9 {
  margin-left: 75%; }

.small-up-9 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-9 > li, .small-up-9 > div, .small-up-9 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 11.11111%; }

.small-10 {
  flex: 0 0 83.33333%; }

.small-order-10 {
  order: 10; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-up-10 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-10 > li, .small-up-10 > div, .small-up-10 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 10%; }

.small-11 {
  flex: 0 0 91.66667%; }

.small-order-11 {
  order: 11; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-up-11 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-11 > li, .small-up-11 > div, .small-up-11 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 9.09091%; }

.small-12 {
  flex: 0 0 100%; }

.small-order-12 {
  order: 12; }

.small-offset-12 {
  margin-left: 100%; }

.small-up-12 {
  flex-flow: row wrap;
  overflow: visible;
  list-style-type: none; }
  .small-up-12 > li, .small-up-12 > div, .small-up-12 > section {
    padding: 0 1rem 1rem;
    flex: 0 0 8.33333%; }

@media only screen and (min-width: 40em) {
  .medium-1 {
    flex: 0 0 8.33333%; }

  .medium-order-1 {
    order: 1; }

  .medium-offset-1 {
    margin-left: 8.33333%; }

  .medium-up-1 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-1 > li, .medium-up-1 > div, .medium-up-1 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 100%; } }
@media only screen and (min-width: 40em) {
  .medium-2 {
    flex: 0 0 16.66667%; }

  .medium-order-2 {
    order: 2; }

  .medium-offset-2 {
    margin-left: 16.66667%; }

  .medium-up-2 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-2 > li, .medium-up-2 > div, .medium-up-2 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 50%; } }
@media only screen and (min-width: 40em) {
  .medium-3 {
    flex: 0 0 25%; }

  .medium-order-3 {
    order: 3; }

  .medium-offset-3 {
    margin-left: 25%; }

  .medium-up-3 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-3 > li, .medium-up-3 > div, .medium-up-3 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 33.33333%; } }
@media only screen and (min-width: 40em) {
  .medium-4 {
    flex: 0 0 33.33333%; }

  .medium-order-4 {
    order: 4; }

  .medium-offset-4 {
    margin-left: 33.33333%; }

  .medium-up-4 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-4 > li, .medium-up-4 > div, .medium-up-4 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 25%; } }
@media only screen and (min-width: 40em) {
  .medium-5 {
    flex: 0 0 41.66667%; }

  .medium-order-5 {
    order: 5; }

  .medium-offset-5 {
    margin-left: 41.66667%; }

  .medium-up-5 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-5 > li, .medium-up-5 > div, .medium-up-5 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 20%; } }
@media only screen and (min-width: 40em) {
  .medium-6 {
    flex: 0 0 50%; }

  .medium-order-6 {
    order: 6; }

  .medium-offset-6 {
    margin-left: 50%; }

  .medium-up-6 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-6 > li, .medium-up-6 > div, .medium-up-6 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 16.66667%; } }
@media only screen and (min-width: 40em) {
  .medium-7 {
    flex: 0 0 58.33333%; }

  .medium-order-7 {
    order: 7; }

  .medium-offset-7 {
    margin-left: 58.33333%; }

  .medium-up-7 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-7 > li, .medium-up-7 > div, .medium-up-7 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 14.28571%; } }
@media only screen and (min-width: 40em) {
  .medium-8 {
    flex: 0 0 66.66667%; }

  .medium-order-8 {
    order: 8; }

  .medium-offset-8 {
    margin-left: 66.66667%; }

  .medium-up-8 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-8 > li, .medium-up-8 > div, .medium-up-8 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 12.5%; } }
@media only screen and (min-width: 40em) {
  .medium-9 {
    flex: 0 0 75%; }

  .medium-order-9 {
    order: 9; }

  .medium-offset-9 {
    margin-left: 75%; }

  .medium-up-9 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-9 > li, .medium-up-9 > div, .medium-up-9 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 11.11111%; } }
@media only screen and (min-width: 40em) {
  .medium-10 {
    flex: 0 0 83.33333%; }

  .medium-order-10 {
    order: 10; }

  .medium-offset-10 {
    margin-left: 83.33333%; }

  .medium-up-10 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-10 > li, .medium-up-10 > div, .medium-up-10 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 10%; } }
@media only screen and (min-width: 40em) {
  .medium-11 {
    flex: 0 0 91.66667%; }

  .medium-order-11 {
    order: 11; }

  .medium-offset-11 {
    margin-left: 91.66667%; }

  .medium-up-11 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-11 > li, .medium-up-11 > div, .medium-up-11 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 9.09091%; } }
@media only screen and (min-width: 40em) {
  .medium-12 {
    flex: 0 0 100%; }

  .medium-order-12 {
    order: 12; }

  .medium-offset-12 {
    margin-left: 100%; }

  .medium-up-12 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .medium-up-12 > li, .medium-up-12 > div, .medium-up-12 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 8.33333%; } }
@media only screen and (min-width: 75em) {
  .large-1 {
    flex: 0 0 8.33333%; }

  .large-order-1 {
    order: 1; }

  .large-offset-1 {
    margin-left: 8.33333%; }

  .large-up-1 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-1 > li, .large-up-1 > div, .large-up-1 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 100%; } }
@media only screen and (min-width: 75em) {
  .large-2 {
    flex: 0 0 16.66667%; }

  .large-order-2 {
    order: 2; }

  .large-offset-2 {
    margin-left: 16.66667%; }

  .large-up-2 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-2 > li, .large-up-2 > div, .large-up-2 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 50%; } }
@media only screen and (min-width: 75em) {
  .large-3 {
    flex: 0 0 25%; }

  .large-order-3 {
    order: 3; }

  .large-offset-3 {
    margin-left: 25%; }

  .large-up-3 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-3 > li, .large-up-3 > div, .large-up-3 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 33.33333%; } }
@media only screen and (min-width: 75em) {
  .large-4 {
    flex: 0 0 33.33333%; }

  .large-order-4 {
    order: 4; }

  .large-offset-4 {
    margin-left: 33.33333%; }

  .large-up-4 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-4 > li, .large-up-4 > div, .large-up-4 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 25%; } }
@media only screen and (min-width: 75em) {
  .large-5 {
    flex: 0 0 41.66667%; }

  .large-order-5 {
    order: 5; }

  .large-offset-5 {
    margin-left: 41.66667%; }

  .large-up-5 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-5 > li, .large-up-5 > div, .large-up-5 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 20%; } }
@media only screen and (min-width: 75em) {
  .large-6 {
    flex: 0 0 50%; }

  .large-order-6 {
    order: 6; }

  .large-offset-6 {
    margin-left: 50%; }

  .large-up-6 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-6 > li, .large-up-6 > div, .large-up-6 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 16.66667%; } }
@media only screen and (min-width: 75em) {
  .large-7 {
    flex: 0 0 58.33333%; }

  .large-order-7 {
    order: 7; }

  .large-offset-7 {
    margin-left: 58.33333%; }

  .large-up-7 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-7 > li, .large-up-7 > div, .large-up-7 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 14.28571%; } }
@media only screen and (min-width: 75em) {
  .large-8 {
    flex: 0 0 66.66667%; }

  .large-order-8 {
    order: 8; }

  .large-offset-8 {
    margin-left: 66.66667%; }

  .large-up-8 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-8 > li, .large-up-8 > div, .large-up-8 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 12.5%; } }
@media only screen and (min-width: 75em) {
  .large-9 {
    flex: 0 0 75%; }

  .large-order-9 {
    order: 9; }

  .large-offset-9 {
    margin-left: 75%; }

  .large-up-9 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-9 > li, .large-up-9 > div, .large-up-9 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 11.11111%; } }
@media only screen and (min-width: 75em) {
  .large-10 {
    flex: 0 0 83.33333%; }

  .large-order-10 {
    order: 10; }

  .large-offset-10 {
    margin-left: 83.33333%; }

  .large-up-10 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-10 > li, .large-up-10 > div, .large-up-10 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 10%; } }
@media only screen and (min-width: 75em) {
  .large-11 {
    flex: 0 0 91.66667%; }

  .large-order-11 {
    order: 11; }

  .large-offset-11 {
    margin-left: 91.66667%; }

  .large-up-11 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-11 > li, .large-up-11 > div, .large-up-11 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 9.09091%; } }
@media only screen and (min-width: 75em) {
  .large-12 {
    flex: 0 0 100%; }

  .large-order-12 {
    order: 12; }

  .large-offset-12 {
    margin-left: 100%; }

  .large-up-12 {
    flex-flow: row wrap;
    overflow: visible;
    list-style-type: none; }
    .large-up-12 > li, .large-up-12 > div, .large-up-12 > section {
      padding: 0 1rem 1rem;
      flex: 0 0 8.33333%; } }
.grid-content .grid-block {
  flex-flow: row wrap;
  overflow: visible; }

/*
  TITLE BAR
  ---------

  A navigational component which can display the current screen the user is on, along with additional controls or menu items.

  The title bar includes classes to create center, left, and right sections, which can be used in any combination. However, in the markup, the sections must come in this order:
   - Center
   - Left
   - Right
*/
.title-bar {
  display: flex;
  margin: 0 -1rem;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  overflow: visible; }
  .title-bar .title {
    font-weight: bold; }
  .title-bar .left, .title-bar .center, .title-bar .right {
    white-space: nowrap;
    overflow: visible; }
    .title-bar .left:first-child:last-child, .title-bar .center:first-child:last-child, .title-bar .right:first-child:last-child {
      flex: 1;
      margin: 0; }
  .title-bar .left {
    order: 1;
    flex: 0 0 25%; }
  .title-bar .center {
    order: 2;
    flex: 0 0 50%;
    text-align: center; }
  .title-bar .right {
    order: 3;
    flex: 0 0 25%;
    text-align: right; }
  .title-bar .left:first-child {
    flex: 1 1 auto; }
  .title-bar .left:first-child + .right:last-child {
    flex: 1 1 auto; }
  .title-bar .center:first-child:not(:last-child) {
    margin-left: 25%; }
  .title-bar .center + .left {
    margin-right: -25%; }

.title-bar {
  background: #eee;
  color: #000;
  padding: 1rem;
  border-bottom: 1px solid #ccc; }
  .title-bar.primary {
    background: #00558b;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ccc; }
    .title-bar.primary a, .title-bar.primary a:hover {
      color: #fff; }
    .title-bar.primary .iconic * {
      fill: #fff;
      stroke: #fff; }
      .title-bar.primary .iconic *.iconic-property-accent {
        fill: #fff;
        stroke: #fff; }
  .title-bar.dark {
    background: #232323;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ccc; }
    .title-bar.dark a, .title-bar.dark a:hover {
      color: #fff; }
    .title-bar.dark .iconic * {
      fill: #fff;
      stroke: #fff; }
      .title-bar.dark .iconic *.iconic-property-accent {
        fill: #fff;
        stroke: #fff; }

.title-bar-bottom {
  border-bottom: 0;
  border-top: 1px solid #ccc; }

/*
  Label
*/
.label {
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  cursor: default; }

.label {
  font-size: 0.8rem;
  padding: 0.33333rem 0.5rem;
  background: #00558b;
  border-radius: 0;
  color: #fff; }
  .label.primary {
    background: #00558b;
    border-radius: 0;
    color: #fff; }
  .label.success {
    background: #43AC6A;
    border-radius: 0;
    color: #fff; }
  .label.warning {
    background: #F08A24;
    border-radius: 0;
    color: #fff; }
  .label.alert {
    background: #F04124;
    border-radius: 0;
    color: #fff; }
  .label.dark {
    background: #232323;
    border-radius: 0;
    color: #fff; }

/*
  Badge
*/
.badge {
  align-items: center;
  position: absolute;
  display: inline-flex;
  min-width: 1.75em; }

.badge {
  font-size: 1em;
  padding: 0.1em 0.61em;
  background: #00558b;
  border-radius: 1000px;
  color: #fff; }
  .badge.primary {
    background: #00558b;
    border-radius: 1000px;
    color: #fff; }
  .badge.success {
    background: #43AC6A;
    border-radius: 1000px;
    color: #fff; }
  .badge.warning {
    background: #F08A24;
    border-radius: 1000px;
    color: #fff; }
  .badge.alert {
    background: #F04124;
    border-radius: 1000px;
    color: #fff; }
  .badge.dark {
    background: #232323;
    border-radius: 1000px;
    color: #fff; }

.inline-list {
  list-style-type: none;
  text-align: left; }
  .inline-list li, .inline-list dt, .inline-list dd {
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px; }
  .inline-list li {
    margin-right: 1rem;
    margin-left: 0; }

/*
  MENU BAR
  --------

  A generic, flexible menu component.

  Features:
   - Orient horizontally and vertically
     - Change orientation at certain breakpoints
   - Items with icons above, below, or to the left or right
   - Text labels for vertical menus and badges for horizontal menus
*/
.menu-bar {
  display: flex;
  align-items: stretch;
  margin: 0;
  list-style-type: none;
  margin-bottom: 1rem; }
  .menu-bar li {
    flex: 1 0 auto;
    align-items: center; }
    .menu-bar li a {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1; }

/*
  CSS output
*/
.menu-bar {
  background: #fff; }
  .menu-bar a {
    color: #000; }
    .menu-bar a:hover {
      background: #ededed;
      color: #000; }
  .menu-bar .is-active > a {
    background: #ededed;
    color: #000; }
  .menu-bar .iconic * {
    fill: #000;
    stroke: #000; }
    .menu-bar .iconic *.iconic-property-accent {
      fill: #000;
      stroke: #000; }
  .menu-bar, .menu-bar.horizontal {
    /*
      Orientation
    */
    overflow-x: hidden;
    flex-flow: row nowrap;
    /*
      Stretch
    */ }
    .menu-bar a, .menu-bar.horizontal a {
      flex-flow: column nowrap; }
  .menu-bar.vertical {
    /*
      Orientation
    */
    flex-flow: column nowrap;
    /*
      Stretch
    */ }
    .menu-bar.vertical a {
      flex-flow: row nowrap; }
  .menu-bar.condense li {
    flex: 0 0 auto; }
  .menu-bar.small-horizontal {
    /*
      Orientation
    */
    overflow-x: hidden;
    flex-flow: row nowrap;
    /*
      Stretch
    */ }
    .menu-bar.small-horizontal a {
      flex-flow: column nowrap; }
  .menu-bar.small-vertical {
    /*
      Orientation
    */
    flex-flow: column nowrap;
    /*
      Stretch
    */ }
    .menu-bar.small-vertical a {
      flex-flow: row nowrap; }
  @media only screen and (min-width: 40em) {
    .menu-bar.medium-horizontal {
      /*
        Orientation
      */
      overflow-x: hidden;
      flex-flow: row nowrap;
      /*
        Stretch
      */ }
      .menu-bar.medium-horizontal a {
        flex-flow: column nowrap; }
    .menu-bar.medium-vertical {
      /*
        Orientation
      */
      flex-flow: column nowrap;
      /*
        Stretch
      */ }
      .menu-bar.medium-vertical a {
        flex-flow: row nowrap; } }
  @media only screen and (min-width: 75em) {
    .menu-bar.large-horizontal {
      /*
        Orientation
      */
      overflow-x: hidden;
      flex-flow: row nowrap;
      /*
        Stretch
      */ }
      .menu-bar.large-horizontal a {
        flex-flow: column nowrap; }
    .menu-bar.large-vertical {
      /*
        Orientation
      */
      flex-flow: column nowrap;
      /*
        Stretch
      */ }
      .menu-bar.large-vertical a {
        flex-flow: row nowrap; } }
  .menu-bar li img, .menu-bar li .iconic, .menu-bar.icon-top li img, .menu-bar.icon-top li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar li a, .menu-bar.icon-top li a {
    flex-flow: column nowrap; }
    .menu-bar li a img, .menu-bar li a .iconic, .menu-bar.icon-top li a img, .menu-bar.icon-top li a .iconic {
      margin: 0 0 1rem 0; }
  .menu-bar.icon-right li img, .menu-bar.icon-right li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.icon-right li a {
    flex-flow: row-reverse nowrap; }
    .menu-bar.icon-right li a img, .menu-bar.icon-right li a .iconic {
      margin: 0 0 0 1rem; }
  .menu-bar.icon-bottom li img, .menu-bar.icon-bottom li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.icon-bottom li a {
    flex-flow: column-reverse nowrap; }
    .menu-bar.icon-bottom li a img, .menu-bar.icon-bottom li a .iconic {
      margin: 1rem 0 0 0; }
  .menu-bar.icon-left li img, .menu-bar.icon-left li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.icon-left li a {
    flex-flow: row nowrap;
    align-items: center; }
    .menu-bar.icon-left li a img, .menu-bar.icon-left li a .iconic {
      margin: 0 1rem 0 0; }
  .menu-bar.small-icon-top li img, .menu-bar.small-icon-top li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.small-icon-top li a {
    flex-flow: column nowrap; }
    .menu-bar.small-icon-top li a img, .menu-bar.small-icon-top li a .iconic {
      margin: 0 0 1rem 0; }
  .menu-bar.small-icon-right li img, .menu-bar.small-icon-right li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.small-icon-right li a {
    flex-flow: row-reverse nowrap; }
    .menu-bar.small-icon-right li a img, .menu-bar.small-icon-right li a .iconic {
      margin: 0 0 0 1rem; }
  .menu-bar.small-icon-bottom li img, .menu-bar.small-icon-bottom li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.small-icon-bottom li a {
    flex-flow: column-reverse nowrap; }
    .menu-bar.small-icon-bottom li a img, .menu-bar.small-icon-bottom li a .iconic {
      margin: 1rem 0 0 0; }
  .menu-bar.small-icon-left li img, .menu-bar.small-icon-left li .iconic {
    margin: 0;
    width: 25px;
    height: 25px; }
  .menu-bar.small-icon-left li a {
    flex-flow: row nowrap;
    align-items: center; }
    .menu-bar.small-icon-left li a img, .menu-bar.small-icon-left li a .iconic {
      margin: 0 1rem 0 0; }
  @media only screen and (min-width: 40em) {
    .menu-bar.medium-icon-top li img, .menu-bar.medium-icon-top li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.medium-icon-top li a {
      flex-flow: column nowrap; }
      .menu-bar.medium-icon-top li a img, .menu-bar.medium-icon-top li a .iconic {
        margin: 0 0 1rem 0; } }
  @media only screen and (min-width: 40em) {
    .menu-bar.medium-icon-right li img, .menu-bar.medium-icon-right li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.medium-icon-right li a {
      flex-flow: row-reverse nowrap; }
      .menu-bar.medium-icon-right li a img, .menu-bar.medium-icon-right li a .iconic {
        margin: 0 0 0 1rem; } }
  @media only screen and (min-width: 40em) {
    .menu-bar.medium-icon-bottom li img, .menu-bar.medium-icon-bottom li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.medium-icon-bottom li a {
      flex-flow: column-reverse nowrap; }
      .menu-bar.medium-icon-bottom li a img, .menu-bar.medium-icon-bottom li a .iconic {
        margin: 1rem 0 0 0; } }
  @media only screen and (min-width: 40em) {
    .menu-bar.medium-icon-left li img, .menu-bar.medium-icon-left li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.medium-icon-left li a {
      flex-flow: row nowrap;
      align-items: center; }
      .menu-bar.medium-icon-left li a img, .menu-bar.medium-icon-left li a .iconic {
        margin: 0 1rem 0 0; } }
  @media only screen and (min-width: 75em) {
    .menu-bar.large-icon-top li img, .menu-bar.large-icon-top li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.large-icon-top li a {
      flex-flow: column nowrap; }
      .menu-bar.large-icon-top li a img, .menu-bar.large-icon-top li a .iconic {
        margin: 0 0 1rem 0; } }
  @media only screen and (min-width: 75em) {
    .menu-bar.large-icon-right li img, .menu-bar.large-icon-right li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.large-icon-right li a {
      flex-flow: row-reverse nowrap; }
      .menu-bar.large-icon-right li a img, .menu-bar.large-icon-right li a .iconic {
        margin: 0 0 0 1rem; } }
  @media only screen and (min-width: 75em) {
    .menu-bar.large-icon-bottom li img, .menu-bar.large-icon-bottom li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.large-icon-bottom li a {
      flex-flow: column-reverse nowrap; }
      .menu-bar.large-icon-bottom li a img, .menu-bar.large-icon-bottom li a .iconic {
        margin: 1rem 0 0 0; } }
  @media only screen and (min-width: 75em) {
    .menu-bar.large-icon-left li img, .menu-bar.large-icon-left li .iconic {
      margin: 0;
      width: 25px;
      height: 25px; }
    .menu-bar.large-icon-left li a {
      flex-flow: row nowrap;
      align-items: center; }
      .menu-bar.large-icon-left li a img, .menu-bar.large-icon-left li a .iconic {
        margin: 0 1rem 0 0; } }
  .menu-bar.label-side li {
    position: relative; }
  .menu-bar.label-side a {
    padding-right: 3.2rem; }
  .menu-bar.label-side .menu-bar-label {
    display: block;
    font-size: 0.9rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    border-radius: 1000px;
    background: red;
    color: #fff;
    position: absolute;
    pointer-events: none;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); }
  .menu-bar.label-corner li {
    position: relative; }
  .menu-bar.label-corner a {
    padding-right: 3.2rem; }
  .menu-bar.label-corner .menu-bar-label {
    display: block;
    font-size: 0.9rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    border-radius: 1000px;
    background: red;
    color: #fff;
    position: absolute;
    pointer-events: none;
    right: 1rem;
    top: 1rem; }
  .menu-bar.primary {
    background: #00558b; }
    .menu-bar.primary a {
      color: #fff; }
      .menu-bar.primary a:hover {
        background: #0065a5;
        color: #fff; }
    .menu-bar.primary .is-active > a {
      background: #0065a5;
      color: #fff; }
    .menu-bar.primary .iconic * {
      fill: #fff;
      stroke: #fff; }
      .menu-bar.primary .iconic *.iconic-property-accent {
        fill: #fff;
        stroke: #fff; }
  .menu-bar.dark {
    background: #232323; }
    .menu-bar.dark a {
      color: #fff; }
      .menu-bar.dark a:hover {
        background: #323232;
        color: #fff; }
    .menu-bar.dark .is-active > a {
      background: #323232;
      color: #fff; }
    .menu-bar.dark .iconic * {
      fill: #fff;
      stroke: #fff; }
      .menu-bar.dark .iconic *.iconic-property-accent {
        fill: #fff;
        stroke: #fff; }
  .menu-bar > li.title {
    padding: 1rem;
    cursor: default;
    font-weight: bold; }